/.quarto/
_manuscript
/jabbrv*
/wlscirep.cls
/naturemag-doi.bst

_freeze/
.DS_Store
.Rproj.user
/R/data_tmp/
**/*.quarto_ipynb
site_libs/bootstrap/bootstrap-67e3b562ef4dbc2dcf3cbf0914964bd1.min.css
site_libs/bootstrap/bootstrap-677dfb15eb828662f2b9eb45f35e1d23.min.css
site_libs/bootstrap/bootstrap-icons.css
site_libs/bootstrap/bootstrap-icons.woff
site_libs/bootstrap/bootstrap.min.js
site_libs/clipboard/clipboard.min.js
site_libs/manuscript-notebook/headroom.min.js
site_libs/quarto-contrib/glightbox/glightbox.min.css
site_libs/quarto-contrib/glightbox/glightbox.min.js
site_libs/quarto-contrib/glightbox/lightbox.css
site_libs/quarto-html/anchor.min.js
site_libs/quarto-html/popper.min.js
site_libs/quarto-html/quarto-syntax-highlighting-d4d76bf8491c20bad77d141916dc28e1.css
site_libs/quarto-html/quarto-syntax-highlighting-dc55a5b9e770e841cd82e46aadbfb9b0.css
site_libs/quarto-html/quarto.js
site_libs/quarto-html/tippy.css
site_libs/quarto-html/tippy.umd.min.js
site_libs/quarto-html/axe/axe-check.js
site_libs/quarto-html/tabsets/tabsets.js
